body {
    font-family: arial;
}

.icon {
    width: 40px;
    margin-right: 5px;
}
.container{
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
}
.headerContainer{
    display: grid;
    grid-template-columns: 0.4fr 1.5fr 0.5fr 0.5fr;
    grid-template-rows:  repeat(1, 1fr);
    /* background-color: aqua; */
}
h1{
    font-size: 70px;
    color: rgba(0, 0, 255, 0.726);
    font-family: 'Londrina Solid', cursive;
    font-weight: 400;
}
.col-1,.col2,.col3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col p{
    font-size: 20px;
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-2 h1{
    margin: 0px 0px 0px 0px;
}
.col-2 p{
   margin: 0px 0px 0px -190px;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.808);
   font-size: 25px;
}
.icon-maindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.icondiv{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 60px; 
}
.profilepicture{
    border-radius: 150px;
    height: 150px;
    width: 90%;
}
/* projects work */
.mainicons{
    width:60px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.562);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectchild1{
    display: flex;
    justify-content: center;
}
.projectparentdiv{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr;
}

ul{
    color: rgb(36, 4, 112);
    font-weight: 600;
}
ul li{
    padding: 10px;
}
/* education section */
.education{
    list-style-type: none;
    color:gray
}
a{
    text-decoration: none;
    color: indigo;
}